# yaml-language-server: $schema=https://json.schemastore.org/clang-format-21.x.json
---
BasedOnStyle: WebKit
BreakBeforeBraces: Allman

IndentWidth: 2
TabWidth: 2
ContinuationIndentWidth: 2
UseTab: ForContinuationAndIndentation
IndentCaseLabels: true

SpaceAfterCStyleCast: true

AllowShortFunctionsOnASingleLine: None

ColumnLimit: 120
---
